/* style.css */

/* Global */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Inter, sans-serif;
    line-height: 1.5em;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

li {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/* Nav bar */

nav{
    background-color: #1F2937;
    padding: 16px 24px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

/* Hero section */

.hero{
    background-color: #1F2937;
    padding: 100px 24px;
}

.hero-wrapper {
    display: flex;
    gap: 24px;
}

/* All hero additionnal class */

.hero p,
.hero-image {
    color: #E5E7EB;
}

.hero-image,
.text-wrapper {
    flex: 1;
}

h1,
.hero button {
    color: #F9FAF8;
}

h1,
.hero button,
.hero p {
    margin-bottom: 8px;
}

.hero-image {
    background-color: #6C747D;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2em;
}

.hero button {
    background-color: #3882F6;
    color: ;
    padding: 8px 24px;
    border-radius: 12px;
    border: 0;
}

/* Information section */

.information {
    padding: 48px 24px 80px 24px;
}

.information-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.information h2 {
    font-size: 36px;
}

.information h2,
.card {
    text-align: center;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card {
    width: 150px;
}

.card-image {
    width: 100%;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 8px;
}

/* Quote section */

.quote {
    background-color: #E5E7EB;
    padding: 80px 24px;
}

.quote-wrapper {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.quote-wrapper p:first-child {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 200;
    line-height: 1.2em;
}

.quote_name-align-right {
    align-self: right;
}